.titulo-da-pagina{
    text-align: center;
    color:white;
    font-size:70px;
    background-color: rgba(39, 39, 196, 0.808);
    padding: 30px;
    border-bottom: 10px solid rgb(252, 240, 80);
    text-shadow: 1px 1px black;
}
body{
    background: url("imagens/fundo.jpg") center center no-repeat;
    background-size: cover;
}

/*conf btn*/
.botao-enviar{
    font-family: arial;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border: 10px;
    cursor: pointer;
}
.btn-verde{
    background:green;
    color: #fff;
    box-shadow: 0 5px 0 #006000;
}
.btn-verde:hover{
    background: #006000;
    color:#fff;
    box-shadow: 0 5px 0 #003f00;
}
.btn-verde:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
/**/
.paragrafo1{
    text-align: center;
    font-size: 40px;
}
.paragrafo2{
    text-align: center;
    font-size: 25px;
}
.primeira-pergunta{
    text-align: center;
    font-size: 30px;
  
}
.segunda-pergunta{
    padding: 20px;
    text-align: center;
}
.caixa-texto{
    padding: 10px;
    width:left 0px;
}
.link{
    background-color: green;
}
h2 {
 font-size: 30px;
 padding-top: 10px;
 margin-left: 5px;
 text-align: center;

}
p {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
h3{
 font-size: 30px;
 padding-top: 10px;
 margin-left: 100px;
 text-align: center;
}
h4{
 font-size: 30px;
 padding-top: 10px;
 margin-left: 5px;
 text-align: center;
}
