*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: url("imagens/tecnologia-fundo.jpg") center center no-repeat;
    background-size: cover;
}

header{
	height: 8em;
	color: #FFF;
	margin-bottom: 1em;
	border-bottom: 10px solid rgb(252, 240, 80);
	text-align: center;
	background: url("imagens/compasso.png") no-repeat;
	background-color:rgba(39, 39, 196, 0.808);
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 50px;
	display:inline-block;
	vertical-align:	middle;
	color: white;
	margin-top: 10px;
}
 

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
	color: #ccc;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
	background: #ADD8E6;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	color: black;
	text-align: center;
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
	margin-top: 10px;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #00BFFF;
	text-align: center;
	margin-left: 30%;
	background-color: white;
}

th{
	font-weight: bold;
	background-color: white;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

.botao-principal{
	padding: .5em 2em;
	border: 10px;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -5px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 20px;

}
.botao-status{
	padding: .5em 2em;
	border: 10px;
	border-bottom: 3px solid;
	font-size: 1.2em;
	margin: 0;
	cursor: pointer;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
	margin: 10px 210px;
	margin-top: -50px;
}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}
#filtrar-tabela{
	border-bottom: 3px solid;
	font-size: 1.2em;
	margin-top: -5px;
	color: #fff;
	width: 30%;
    display: block;
    clear: both;
	margin: 10px 400px;
	margin-top: -40px;
}





